<!--
  Generated template for the ContactusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar color="primary">
        <ion-title>Contact us</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light" padding>
    <div *ngIf="mycontact == 0" text-center padding-top class="lblNoData">
        <span>{{noData}}</span>
    </div>

    <ion-list no-lines>

        <ion-item *ngFor="let item of mycontact let i=index">
            <p>Call us</p>
            <h2>{{item.comapny_phone}}</h2>
            <ion-avatar item-end>
                <ion-icon name="md-call"></ion-icon>
            </ion-avatar>
        </ion-item>
        <ion-item *ngFor="let item of mycontact let i=index">
            <p>Email us</p>
            <h2>{{item.comapny_email}}</h2>
            <ion-avatar item-end>
                <ion-icon name="md-mail"></ion-icon>
            </ion-avatar>
        </ion-item>
        <ion-item *ngFor="let item of mycontact let i=index">
            <p>Reach us</p>
            <h2>{{item.comapny_add}}</h2>
            <ion-avatar item-end>
                <ion-icon name="md-navigate"></ion-icon>
            </ion-avatar>
        </ion-item>

    </ion-list>