
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="from=='customer'">All Customer</ion-title>
    <ion-title *ngIf="from=='staff'">All Staff</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="trips detail-bg">
  <ion-refresher  style="color:green">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="allUsers == 0" text-center padding-top class="lblNoData">
    <span>{{noData}}</span>
  </div>

  <div class="my_booking">
    <ul *ngFor="let item of allUsers let i=index ">
        
      <ion-card class="card_border_radius" >
        <li class="booking_list" *ngIf="from=='customer'">
          <div (click)="gotoBooking(item.id)">
            <ion-row>
              <ion-col col-12>
                <div class="content">
                  <label class="order_number order_number_color">{{item.cus_dt}}</label>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-7>
                <div class="content">
                  <label class="service_title">{{item.first_name}} {{item.last_name}}</label>
                </div>
              </ion-col>
              <ion-col col-1>
              </ion-col>

              <ion-col col-4>
                <div class="content">
                  <div class="price-all">
                    {{item.id}}
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-6>
                <label class="lblDate_lblTime">EMAIL</label>
                <label>{{item.user_email}}</label>
              </ion-col>

              <ion-col col-6>
                <label class="lblDate_lblTime">PHONE NUMBER</label>
                <label>{{item.phone}}</label>
              </ion-col>
            </ion-row>
          </div>
        </li>
      </ion-card>
      <ion-card>
        <li class="booking_list" *ngIf="from=='staff'">
            <a class="edit_btn">
                <ion-icon name="person"
                  (click)="gotoEdit(item)">
                </ion-icon>
              </a>
            <div (click)="gotoBooking(item.id)">
              <ion-row>
                <ion-col col-12>
                  <div class="content">
                    <label class="order_number order_number_color">#{{item.id}}</label>
                  </div>
                </ion-col>
              </ion-row>
  
              <ion-row>
                <ion-col col-9>
                  <div class="content">
                    <label class="service_title">{{item.fullname}}</label>
                    <label margin-top>{{item.zip}}-{{item.city}}</label>
                     <label>{{item.state}}, {{item.counrty}}</label>
                  </div>
                </ion-col>
               
                <ion-col col-3 text-center>
                  <div class="circle">
                      {{item.booking_count}}
                  </div>
                </ion-col>
              </ion-row>
  
              <ion-row>
                <ion-col col-6>
                  <label class="lblDate_lblTime">EMAIL</label>
                  <!-- <label>{{item.user_email}}</label> -->
                  <label>milan@examle.com</label>
                </ion-col>
  
                <ion-col col-6>
                  <label class="lblDate_lblTime">PHONE NUMBER</label>
                  <!-- <label>{{item.phone}}</label> -->
                  <label>+9154944856</label>
                </ion-col>
              </ion-row>
            </div>
          </li>
      </ion-card>
    </ul>
  </div>
  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!isloadmore">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content> -->
