page-admin-dashboard {

    .scroll-content{
        padding:0 !important;
     
      }
      .custom_grid{
        padding: 15px;
        }
    
    /* header section */
      .head_top{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        color: #fff;
        padding: 0 !important;
        background: url(../assets/img/Home_Screen.png) no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
      .head_top p{
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 8%;
        letter-spacing: 0.5px;
      }
      .head_top .lblName{
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .head_top .time{
        font-size: 60px;
        -webkit-margin-after: 0em;
        margin-block-end: 0em;
        font-weight: 500;
      }
      .head_top .lblheading{
        font-size: 12px;
        line-height: 25px;
        font-weight: 400;
      }
    /* menu section */
    
      .padding-10{
        padding: 8px;
      }
     
      .menu_opt{
        width: 100%;
        height: 110px;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        color: #3C94F8;
        text-align: center;
      }
      .menu_opt .cus_icon{
        font-size: 40px;
        display: inline-block;
        padding-top: 18px;
      }
      .menu_opt .icon_bg{
        background-image: url(/assets/img/iconHome.png);
        background-size: auto;
        background-repeat: no-repeat;
        width: 100%;
        height: 80px;
        background-position: center;
      }
      .menu_opt .labelTitle{
        font-size: 11px;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: 500;
        margin-top: 5px;
      }
      .toolbar-title-md {
            /* padding: 0px 0px; */
            font-size: 2rem;
            font-weight: 500;
            text-align: center;
            margin-left: -25px;
      }
    
    }