// http://ionicframework.com/docs/theming/
// App Shared Imports
// --------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
body{
  /*font-family: 'Raleway', sans-serif !important;*/
  font-family: 'Julius Sans One', sans-serif !important;
}
.swiper-container {
  padding-bottom: 0px !important;
  margin-top: 0px !important;
}
button {
  touch-action: manipulation;
}
.alert-title{
    font-size: 16px !important;
    letter-spacing: 0.5px;
    text-align: center;
}
// global styles
.primary-bg {
  background-color: color($colors, primary) !important;
}

.secondary-bg {
  background-color: color($colors, secondary) !important;
}

.common-bg {
  background-color: #FAFBFC;
}

.white-bg {
  background-color: #fff;
}

.detail-bg {
  background-color: #fff;
}

.light-bg {
  background-color: color($colors, light);
}

.dark-bg {
  background-color: color($colors, dark);
}

.green-bg {
  background-color: #68C91F;
}

.profile-bg {
  background-image: linear-gradient(135deg, color($colors, dark), color($colors, primary), color($colors, light));
}
//
//
.text-primary {
  color: color($colors, primary);
}

.text-secondary {
  color: color($colors, secondary);
}

.text-green {
  color: #68C91F;
}

.text-yellow {
  color: #FDD835;
}

.text-white {
  color: #fff;
}

//
.dark-trans,
.toast-md .toast-wrapper {
  background-color: rgba(0, 0, 0, .4);
}

.list-md .item-block .item-inner{
  border-bottom: 0px !important;
}
// Helpers
.quarter-op {
  opacity: .25;
}

.no-paddingTRL {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.no-paddingTRB {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

.no-paddingB {
  padding-bottom: 0 !important;
}

.no-paddingT {
  padding-top: 0 !important;
}

.padding-xs {
  padding: 10px;
}

.no-padding {
  padding: 0 !important;
}

.no-pl {
  padding-left: 0 !important;
}

.no-margin {
  margin: 0;
}

.no-marginT {
  margin-top: 0 !important;
}

.mt-half {
  margin-top: .5rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mb-half {
  margin-bottom: .5rem;
}

.marginB-16px {
  margin-bottom: 16px !important;
}

.marginB-2 {
  margin-bottom: 2rem !important;
}

.marginT-16px {
  margin-top: 16px !important;
}

.marginT-2 {
  margin-top: 2rem !important;
}
.m-b-40{
  margin-bottom: 40px;
}
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.rlt {
  position: relative;
}

.clear {
  clear: both;
}

.align-bottom {
  position: absolute;
  bottom: 0;
}

.round {
  border-radius: 1rem;
  overflow: hidden;
}

.no-round {
  border-radius: 0;
}

.border-bottom {
  border-bottom: 1px solid rgba(86, 61, 124, 0.1);
}

.full-width {
  width: 100% !important;
}

.max-width {
  max-width: 100% !important;
}

.padding-sm {
  padding: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

// text size
.text-2x {
  font-size: 2em;
}



.text-sm {
  font-size: 0.7em;
}

.bold {
  font-weight: bold !important;
}

// buttons configs
.btn-facebook {
  background-color: rgb(136, 139, 146);
}

.btn-twitter {
  background-color: #00ACEE;
}

.btn-gplus {
  background-color: #E04006
}

  .header-md::after{
    background-image:unset !important;
  }
  .toolbar-background-md{
    background-color:unset !important;
  }
  .toolbar.toolbar-md{
    background-color:#3C94F8;
    color:#fff;
  }
  .bar-button-default-md{
    color:#fff;
  }
  .toolbar-title-md{
    color:#fff;
  }

// badge style
ion-badge {
  &.square {
    border-radius: 0;
  }
}

// card style
.card {
  background: #FFF;
  border-radius: 1rem;
  box-shadow: 0 0 1px rgba(86, 61, 124, 0.2), 0 2px 4px rgba(86, 61, 124, 0.15);
}

// navbar style
ion-navbar.no-border {

  .toolbar-background {
    border: none;
  }
}

// list style
.list-no-border {

  .item:first-child {
    border: none;
  }
  .item:last-child {
    border: none;
  }

  .item {
    .item-inner {
      border: none;
    }
  }
}

.list-full-border {
  @extend .list-no-border;

  .item,
  .item:first-child,
  .item:last-child {
    border-bottom: 1px solid rgba(86, 61, 124, 0.2);
    .item-inner {
      border: none;
    }
  }
}

// item style
.item.no-border {
  .item-inner {
    border: none;
  }
}

// Toolbar
// transparent nav bar
.toolbar {
  &.nav-transparent {
    .toolbar-background {
      background-color: rgba(86, 61, 124, .65);
    }
  }
  .toolbar-title {
    img {
      vertical-align: sub;
      border-radius: 10%;
    }
  }
}


// style for auth pages
.auth-page {
  background-color: #fff;
  // &::after {
  //   content: "";
  //   background: url("../assets/img/bg.jpg") no-repeat;
  //   background-size: cover;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   position: absolute;
  //   z-index: 0;
  // }


  .scroll-content {
    display: flex;
    align-items: center;
    justify-content: center;
    //background: rgba(50, 10, 92, .4);

    .login-content {
      width: 86%;

      .list-form {
        padding: 0;
        margin-bottom: 0;

        ion-item {
          background: none;
          padding: 0;

          &:first-child {
            border-top: none;
          }

          &:after {
            display: none;
          }

          ion-label {
            font-size: 1em;
            color: color($colors, primary);
          }

          input {
            color: color($colors, primary);
          }
        }
      }
    }
  }
}

// Menu user profile

  .other-data {
    .column {
      &:first-child {
        border-right: 1px solid rgba(36, 50, 157, .25);
      }
    }
  }
  h2{
    font-size: 1.7rem;
    padding-top: 5px;
  }
  .button-md-light {
      color: #fff;
      background-color: #4c7af9f2;
      margin-top: 10px;
    }
    




// styles for hotels
.hotel-bg {
  background-position: center;

  .bg-filter {
    position: relative;
    height: 150px;
    background: rgba(0, 0, 0, .5);

    .bottom-info {
      position: absolute;
      width: 100%;
      bottom: 1rem;
      padding: 1rem;
    }
  }

  .discount {
    position: absolute;
    padding: 0.5rem 1rem;
    top: 0;
    right: 0;
    background-color: #68C91F;
    color: #fff;
  }
  .origin-price {
    color: #A1B0C1;
    text-decoration: line-through;
  }

  .sale-price,
  .price {
    font-size: 1.8rem;
  }
}

  .menu-devider{
    width: 100%;
    border-top: 1px solid #e1e1e1;
    margin-top:10px;
    height: 10px;
  }
// style for slider
ion-slides.to-top {
  height: auto;
  margin-bottom: -5px;

  .swiper-pagination {
    display: block !important;

    .swiper-pagination-bullet {
      background: color($colors, light);
    }
  }
}

.to-top {
  height: auto;
  margin-bottom: -5px;
}

// style for ion-icon
ion-icon[ng-reflect-disabled="true"] {
  color: #FAFBFC;
  pointer-events: none;
}

// checkout info style
.checkout-info {

  span {
    font-size: 1.2rem;
  }
}

// remove shadow from header
.md {
  ion-header {
    &.no-shadow::after {
      background-image: none;
    }
  }

  ion-toolbar,
  ion-navbar {
    .button,
    .button.activated {
      box-shadow: none;
    }
  }
}

.ios {
  ion-list ion-item,
  .list-hotels .hotel-bg {
    pointer-events: none;
  }
}

// google
.google-map {
  height: 160px;
  pointer-events: none;
  margin: 0 -20px;
}

// Animate CSS
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

.button-md-white{
  background-color:#fff;
  color:#3C94F8;
}

.item-md h3, .item-md h4, .item-md h5, .item-md h6{
  font-weight: 500;
  letter-spacing: 0.4px;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
{
    border-bottom-color : #fff;
    -webkit-box-shadow: inset 0 -1px 0 0 #fff;
    box-shadow: inset 0 -1px 0 0 #fff;
}
// .box_square{
//   box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.04);
//   margin-left: 4px;
//   margin-right: 4px;
// }

// ******sidebar***
.menu-inner{
  width: 100%;
}
.user_avatar {
  display: inline-block;
}
.user_avatar img{
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.user_profile {
  background-color: transparent !important;
  }
.sidebar_bg{
  background: url(../assets/img/imgSidebar.png) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.content_bg{
  background-color: transparent;
}
.content_text {
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
  }
.sidebar_icon{
    font-size: 22px !important;
    margin-right: 0 !important;
}
.sidebar_text{
    padding-left: 20px;
}
.sidebar_border{
  border: 1px solid #dedede4a;
  width: 100%;
}

.user_list{
  padding-top: 10px;
}
.login_type{
  font-size: 12px;
  font-weight: 500;
  color:#fff;
}
.sidebar_close{
    /* position: absolute; */
    /* bottom: 20px; */
    width: 55px;
    height: 55px;
    font-size: 37px;
    background-color: #3C94F8;
    text-align: center;
    border-radius: 50%;
    line-height: 36px;
    /* margin-top: 15%; */
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.sidebar_close_btn{
    bottom: 5px;
    position: absolute;
    width: 100%;
}
// *******login*******
.padding-top-0{
  padding-top: 0 !important;
}

.login_bg{
    background: url("../assets/img/login_bg.png") no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    background-color: #fff;
}
.logo {
  width: 75px;
  height: 75px;
  margin: 10% auto 7% !important;
  border-radius: 10%;
  background: url(../assets/img/logo.png) no-repeat;
  background-size: 100%;
}
.header_text{
  padding-left: 26px;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}
.login_content{
    border-radius: 10px;
}
.login_padding{
    padding: 25px 25px 0px 25px;
}
.login_icon{
  margin: 8px 0 8px 0 !important;
  border-right: 1px solid #ccc;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 1.5rem !important;
  line-height: 2 !important;
  color: #3C94F8 !important;
  position: absolute;
}
.login_text {
  border: 0px solid #D1D1D1;
  background-color: #f6f3f3;
  border-radius: 5px;
  font-weight: normal;
  padding-left: 5rem;
  color: #222326;
  font-size: 1.5rem;
  line-height: 2;
}
.login_checkbox{
  margin-right: 5px !important;
}
.login_checkbox_text{
  font-size: 1.2rem;
  color: #222326;
  font-weight: 600;
}
.login_btn{
  background-color: #3C94F8;
  color: #fff;
  padding: 1.5em !important;
  font-size: 14px !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
}
.login_signup{
  margin-bottom: 5%;
  width: 100%;
  /* position: absolute; */
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 20%;
}

.bookin_title{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-transform: initial;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  text-align: center;
  padding: 60px 50px;
  width: 100%;
}
.booking_title_bg{
  background: url(../assets/img/Home_Screen.png) no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
}
.main_booking_bg {
  padding: 0 !important;
  // background: url(../assets/img/Home_Screen.png) no-repeat;
  // background-size: cover;
  width: 100%;
  height: 100%;
  background: #fff;
}
.lbl_text{
  color: #3C94F8;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
.main_view_bg{
  background-color: #4298f4;
}
.main_view{
  background-color: #fff;
  padding: 15px;
  width: 100%; 
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* height: 82vh; */
}
// custom css
.item-md{
  padding-left: 15px;
}
.picker-md .picker-opt{
  color: #3C94F8;
}
// .swiper-slide{
//   margin-top:auto; 
// }

.toolbar-ios {
  background: #3C94F8
}
.toolbar-background-ios {
  background: #3C94F8
}
.toolbar-title-ios{
  color: #fff;
}
.bar-button-default-ios{
  color: #fff;
}
.list-ios .item-block:first-child{
  border: none;
}
.list-ios .item-block:last-child{
  border: none;
}
.list-ios .item-block .item-inner{
  border: none;
}
.select-ios .select-placeholder {
  color: #A1B0C1;
}
.picker-ios .picker-opt{
  color: #3C94F8;
}
.tabs-ios .tab-button{
  color: #A1B0C1;
}
.tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios .tab-button[aria-selected=true]{
  color: #fff;
  border-bottom: 3px solid #fff;
  padding-bottom: 10px;
}
.button-ios.activated {
  background-color: #3C94F8 !important;
}
.text-ios{
  color: #fff;
}

.lblNoData{
  color: #222326;
}
